<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Ricerca Prodotti - Esercizio 4</title>
</head>
<body>
    <h1>Ricerca Prodotto</h1>
    
    <label for="codice">Codice Prodotto (es. A123):</label><br>
    <input type="text" id="codice" name="codice" placeholder="Es: A123">
    <button onclick="cercaProdotto()">Cerca</button>
    <button onclick="pulisci()">Pulisci</button>

    <div id="risultato"></div>

    <hr>
    <p><strong>Codici disponibili:</strong></p>
    <ul>
        <li>A123 - Dell XPS 13</li>
        <li>B456 - Apple MacBook Air</li>
        <li>C789 - Lenovo ThinkPad X1</li>
    </ul>

    <script>
        function cercaProdotto() {
            var text = document.getElementById('codice').value;
            
            if(!text.match(/^[A-Za-z]\d{3}$/)) {
                alert("Codice non valido");
            } else {
                // AJAX
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/prodotto?codice=' + text, true);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState === 4) {
                        var div = document.getElementById('risultato');
                        if(xhr.status === 200) {
                            var data = JSON.parse(xhr.responseText);
                            div.innerHTML = 
                                '<ul>' +
                                    '<li>' +
                                        '<ul>' +
                                            '<li>Prezzo: ' + data.prezzo + ' €</li>' +
                                            '<li>Marca: ' + data.marca + '</li>' +
                                            '<li>Modello: ' + data.modello + '</li>' +
                                        '</ul>' +
                                    '</li>' +
                                '</ul>';
                        } else {
                            var err = JSON.parse(xhr.responseText);
                            div.innerHTML = '<p>' + err.errore + '</p>';
                        }
                    }
                };
                xhr.send();
            }
        }

        function pulisci() {
            document.getElementById('codice').value = '';
            document.getElementById('risultato').innerHTML = '';
        }
    </script>
</body>
</html>
