<!-- app/templates/base.html -->
<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <!-- Qui potremmo linkare un CSS -->
    <style>
        body { font-family: sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; }
        nav a { margin-right: 10px; text-decoration: none; color: blue; }
        hr { border: 0; border-top: 1px solid #ccc; }
    </style>
</head>
<body>
    <hr>

    <!-- Zona Messaggi Flash -->
    {% for message in get_flashed_messages() %}
        <div class="flash" style="color: red; border: 1px solid red; padding: 10px;">
            {{ message }}
        </div>
    {% endfor %}

    <main>
        {% block content %}{% endblock %}
    </main>
    <hr>
    <footer>
        <small>&copy; 2024 - video</small>
    </footer>
</body>
</html>